
.navbar {
    display: flex;
    align-items: center;
    
    background: rgb(51, 102, 153);
    color: rgb(144, 192, 168);
    font-family: Helvetica;
    font-weight: 300;
}

.navbar__list {
    list-style-type:none;
    display: flex;
    text-align: right;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
}
h1{
    font-size: 1em;
}

.navbar__title {
    margin-right: auto;
    font-size: 150%;
    padding: 12px 16px;
    width: 100%;
    display: flex;
    margin-left: auto;
}

.navbar__item {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
}