
.card {
    display: flex;
    height: 350px;
    background: gray;
    width: 600px;
    padding: 40px;
    border-radius: 10px;
    margin: 20px;
    overflow-y: auto;
}

img {
    width: 200px;
}

.container{
    flex-direction: column;
    display: flex;
    flex: 1;
    margin: 10px;
}